.bottom {
        display: flex;
        lex-direction: row;
        padding-top: 48px;
        align-items: center;
        margin-right: auto;
        margin-left: auto;
        width: 100%;
        justify-content: center;
        background-color: #181A21;
        font-family: "Motiva Sans", Sans-serif;
        font-weight: normal;
        margin-bottom: 90px;
}

.bottom_textconnect {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 200px;
}

.subtext {
        font-size: 14px;
        color: #b8b6b4;
}

.more_btn2 {
        max-width: 60%;
        text-align: center;
        font-size: 14px;
        color: #FFFFFF;
        margin-top: 10px;
}

.more_btn2:hover{
        text-decoration: none;
        color: #66c0f4;
}

.join_image {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        max-width: 200px;
}

.container_bottom {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        max-width: 200px;
        margin-top: 20px;
}

.btn_connect1 {
        border-radius: 2px;
        border: none;
        padding: 1px;
        cursor: pointer;
        text-decoration: none !important;
        color: #fff !important;
        background: transparent;
        background: transparent;
        border: 1px solid rgb(130, 120, 120);
        border-radius: 2px;
}

.btn_connect1:hover {
        text-decoration: none !important;
        color: #fff !important;
        background: transparent;
        border-color: #fff;
}

span {
        padding: 0 15px;
        font-size: 15px;
        line-height: 30px;
}

.subtext2 {
        font-size: 14px;
        color: #b8b6b4;
        font-family: "Motiva Sans", Sans-serif;
        font-weight: normal;
        margin-top: 10px;
}

.footer_spacer {
        height: 290px;
        background-color: #181A21;
}

.footer {
        font-family: Arial, Helvetica, sans-serif;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        padding: 16px 0 60px 0;
        margin: 0;
        text-size-adjust: none;
        -webkit-text-size-adjust: none;
        background: #171a21;
}

.footer_content {
        width: 940px;
        margin: 0px auto;
        padding-top: 16px;
}

.rule {
        height: 8px;
        border-top: 1px solid #363c44;
}

.logo {
        padding-top: 0;
}

#footer_logo_steam {
        float: right;
        padding-top: 2px;
    }
    
#footer_logo img {
        height: 25px;
        width: auto;
    }

#footer_text {
        float: left;
        margin-left: 12px;
        color: #8F98A0;
        font-size: 12px;
        line-height: 16px;
        font-family: Arial, Helvetica, sans-serif;
}
.valve_links {
        margin-top: 8px;
        float: left;
        font-family: "Motiva Sans", Sans-serif;
        font-weight: normal;
        font-size: 13px;
        color: #C6D4DF;
        margin-bottom: 80px;
}

.ref {
        color: #C6D4DF;
}

a {
        color: #C6D4DF;
}

a:hover {
        color:#fff;
}

@media screen and (max-width: 941px) {
       
       .footer_content {
        display: none;
       }
       
}
