.page_content {
    background: radial-gradient(rgba(24, 26, 33, 0) 0%, #181A21 100%) fixed no-repeat, url(https://community.cloudflare.steamstatic.com/public/shared/images/joinsteam/new_login_bg_strong_mask.jpg) center top no-repeat, #181A21;
    padding: 0px 8px;
    width: 100%;
    margin: 0px auto;
    font-family: "Motiva Sans", Sans-serif;
    font-weight: normal;
    color: #E9E9E9;
}

.page_visible {
    padding-top: 80px;
    padding-bottom: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login_field {
    position: relative;
}

.log_cont {
    display: flex;
    flex-direction: column;
}
.log_cont:not(.IN_CLIENT) {
    width: 100%;
}
.login_field_cont {
    display: flex;
    flex-direction: column;
}

.enter_label {
    color: #fff;
    font-size: 32px;
    text-transform: uppercase;
    letter-spacing: .055em;
    font-weight: 200;
}

.form_container {
    background-color: #181a21;
    border-radius: 4px;
    padding: 24px 32px;
    flex: 1;
    min-width: 636px;
}

.form {
    display: flex;
    flex-direction: row;
    flex: 1;
}

.login {
    flex: 1;
    display: grid;
    gap: 12px;
    grid-template-columns: 1fr;
}

.enterwith_container {
    display: grid;
    grid-template-areas:
        "label hint"
        "input input";
    grid-template-columns: 1fr min-content;
    gap: 2px;
}

.enter_labelwith {
    color: #1999ff;
    font-weight: 500;
    font-size: 12px;
}

.input_field {
    border-radius: 2px;
    color: #fff;
    padding: 10px;
    background-color: #32353c;
    outline: none;
    font-size: 15px;
    grid-area: input;
    border: 1px solid #32353c;
}

.input_field:hover {
    background-color: #393c44;
}

.password_container {
    display: grid;
    grid-template-areas:
        "label hint"
        "input input";
    grid-template-columns: 1fr min-content;
    gap: 2px;
}

.password_label {
    font-size: 12px;
    color: #afafaf;
    text-transform: uppercase;
    letter-spacing: .02em;
    user-select: none;
}

.password_field {
    border-radius: 2px;
    color: #fff;
    padding: 10px;
    background-color: #32353c;
    outline: none;
    font-size: 15px;
    grid-area: input;
    border: 1px solid #32353c;
}

.password_field:hover {
    background-color: #393c44;
}

.checkbox_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}

.checkbox_cont {
    width: 14px;
    height: 14px;
    padding: 3px;
    border-radius: 2px;
    background-color: #32353c;
    cursor: pointer;
}
.checkbox_cont:focus {
    outline: 1px #06bfff solid;
}

.checkbox_cont:hover {
    background-color: #393c44;
}
.newlogindialog_Check_6EoZE {
    width: 100%;
    height: 100%;
    display: flex;
}

.SVGIcon_Button {
    fill: #fff;
    overflow: visible;
    width: 100%;
    height: 100%;
    max-width: 320px;
    max-height: 320px;
}

.memoryme {
    color: #afafaf;
    font-size: 12px;
    user-select: none;
    padding-left: 6px;
}

.container_btn {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.enter_btn {
    position: relative;
    background: linear-gradient(90deg, #06BFFF 0%, #2D73FF 100%);
    border-radius: 2px;
    border: none;
    outline: none;
    padding: 12px;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    font-family: inherit;
    text-align: center;
    letter-spacing: .03em;
    cursor: pointer;
    width: 270px;
}

.enter_btn:hover {
    background: linear-gradient(90deg, #06BFFF 30%, #2D73FF 100%);
}

.space {
    color: #c15755;
    font-size: 12px;
    font-weight: 500;
    text-align: center;
}

.help {
    text-align: center;
    color: #afafaf;
    font-size: 12px;
    text-decoration: underline;
    cursor: pointer;
}
.help:hover {
    color: #c9c9c9;
}

.text_login {
    flex: 0;
    display: grid;
    gap: 4px;
    margin-left: 24px;
}

.text_login_container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 200px;
}

.newfunc {
    color: #1999ff;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    margin: 6px 0px;
    text-transform: uppercase;
    letter-spacing: .02em;
}

.beta_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 0px;
}

.newlogindialog_PhoneIcon_3mIgS {
    width: 120px;
    fill: #afafaf;
}

.beta_text {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #afafaf;
    margin: 8px;
    font-family: "Motiva Sans", Sans-serif;
    font-weight: normal;
}

.more_btn {
    background-color: rgba(255,255,255,.1);
    border-radius: 2px;
    font-weight: 700;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    color: #fff;
    padding: 8px 16px;
}

.beta_text2 {
    text-align: center;
    text-decoration-line: underline;
    font-weight: 400;
    font-size: 12px;
    line-height: 24px;
    color: #afafaf;
    padding: 12px 0px;
    cursor: pointer;
}

::-webkit-scrollbar {
    height: 12px;
    width: 14px;
    background: transparent;
    z-index: 12;
    overflow: visible;
}
::-webkit-scrollbar-corner {
    background: #202020;
}
::-webkit-scrollbar-thumb {
    width: 10px;
    background-color: #434953;
    border-radius: 10px;
    z-index: 12;
    border: 4px solid rgba(0,0,0,0);
    background-clip: padding-box;
    transition: background-color .32s ease-in-out;
    margin: 4px;
    min-height: 32px;
    min-width: 32px;
}

@media screen and (max-width: 941px) {
    .enter_label {
        text-align: center;
        color: #fff;
    font-size: 32px;
    text-transform: uppercase;
    letter-spacing: .055em;
    font-weight: 200;
    }

  .page_content {
    background: radial-gradient(rgba(24, 26, 33, 0) 0%, #181a21 100%) fixed
        no-repeat,
      url(https://store.cloudflare.steamstatic.com/public/shared/images/joinsteam/new_login_bg_strong_mask_mobile.jpg)
        center top no-repeat,
      #181a21;
  }
  .form_container {
    background-color: transparent;
    min-width: 0;
  }

  .login {
    flex: 1;
    display: grid;
    gap: 12px;
    grid-template-columns: 1fr;
  }

  .form {
    flex-direction: column;
  }

  .input_field {
    grid-area: input;
    grid-row-start: input;
    grid-column-start: input;
    grid-row-end: input;
    grid-column-end: input;
  }

  .text_login_container {
    align-items: center;
  }

  .newfunc {
    margin-top: 50px;
  }

  .newlogindialog_PhoneIcon_3mIgS {
    display: none;
  }

  .beta_text {
    text-align: center;
  }
 
  .bottom {
    flex-direction: column-reverse;
    margin-top: -30%;
  }

  .btn_connect1 {
    text-align: center;
  }
}