body {
    background-color: #181A21;
}

.header {
    background: #171a21;
    background-position: center top;
    min-width: 940px;
    font-family: "Motiva Sans", Sans-serif;
    font-weight: normal;
    font-size: 14px;
}

.header-content {
    background: #171a21;
    position: relative;
    width: 940px;
    height: 104px;
    margin: 0px auto;
    z-index: 402; 
}

.logo {
    float: left;
    padding-top: 30px;
    margin-right: 40px;
    width: 176px;
    height: 44px;
}

.navigation_container {
    position: absolute;
    left: 200px;
    color: #b8b6b4;
}
a {
    text-decoration: none;
}
.item {
    display: block;
    position: relative;
    padding-top: 45px;
    padding-left: 7px;
    padding-right: 7px;
    padding-bottom: 7px;
    line-height: 16px;
    float: left;
    font-size: 14px;
    color: #b8b6b4;
    text-transform: uppercase;
}

.item:hover {
    color: #ffffff;
}
.install_btn:hover {
    color: #ffffff;
}

.global-actions {
    position: absolute;
    right: 0px;
    top: 6px;
    height: 21px;
    line-height: 21px;
    color: #b8b6b4;
    font-size: 11px;
    z-index: 401;
}

.global_action_menu {
    line-height: 24px;
    vertical-align: top;
    display: inline-block;
}

.install {
    display: inline-block;
    position: relative;
    height: 21px;
    line-height: 24px;
    margin-right: 3px;
}

.install_btn {
    background-color: #5c7e10;
    display: inline-block;
    padding-left: 35px;
    padding-right: 9px;
    background-position: 10px 5px;
    background-image: url(https://community.cloudflare.steamstatic.com/public/shared/images/header/btn_header_installsteam_download.png?v=1);
    background-repeat: no-repeat;
    text-decoration: none;
    color: #e5e4dc;
    font-weight: normal;
}

.global_action_link {
    color: #b8b6b4;
    padding: 0 4px;
}
.global_action_link:hover{
    color: #ffffff;
}
.lang {
    padding-right: 18px;
    background-image: url(data:image/gif;base64,R0lGODlhEwAMAIABAMXDwgAAACH5BAEAAAEALAAAAAATAAwAAAIUjI+py+0PEZh0wmpjjSfzD4aiUQAAOw==);
    background-position: right center;
    background-repeat: no-repeat;
    cursor: pointer;
    font-size: 11px;
}
.menu_logo, .mobile_logo {
    display: none;
}
.lang:hover {
    color: #ffffff;
}
@media screen and (max-width: 941px) {
    .mobile_header {
        background: #171a21;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        text-align: center;
        z-index: 20;
        box-shadow: 0 0 7px 0 rgb(0 0 0 / 75%);
        overflow: hidden;
        padding: 13px 8px;
        overflow: visible;
    }

    .mobile_header_content {

      overflow: visible;
      z-index:20;
      text-align: center;
    }

    .header,.header-content,.logo,.navigation_container,.item,.global-actions,.global_action_menu,.install,.install_btn,.global_action_link,.lang {
        display: none;
    }

    .menu_logo {
        position: absolute;
        cursor: pointer;
        width: 36px;
        height: 31px;
        left: 8px;
        display: block;
        
    }

    .mobile_logo{
        vertical-align: middle;
        display: block;
    }
}